@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --dark-color: #1f2937;
    --dark-gray1: rgb(2, 73, 52);
    --light-gray1: #01411C;
    --text-colour: #b2becd;
    --prim-head: #b2becd;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-colour);
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.title-head h1{
    
    font-weight: 200;
    line-height: 1.5;
    margin: 10px 0;

}

p {
    margin: 10px 0;
}



.logo-and-header img{
    width: 80px;
    height: 60px;
}

img {
    width: 100%;
    border-radius: 10px;
    
    
}

/* navbar */

.navbar{
    background-color: var(--dark-color);
    color:  #fff;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: linear-gradient(to bottom, rgb(2, 73, 52) 8%, rgba(0,0,0,0.3) 33%)
}


.container{
    margin: 0 auto;
    overflow: auto;
   
}

.title .logo-and-header {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    }

.navbar ul {
    display: flex;
    gap: 25px;
    
}

.navbar ul li a::after{
    content:'';
    height: 2px;
    background: #018749;
    width: 0%;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li a:hover::after{
    width: 100%;
    
}

/* Showcase */


.showcase-container{
    color: #333;
    text-align: center;
    height: 550px;
    
    background: linear-gradient(0deg, #00000088  30%,#9e959531  100%),url(./images/Koma-Best-japanese-.jpg); 
    background-size:cover;
}
.img-text{
    
    width: 100%;
    color: #fff;
    max-width: 1100px;
    font-size: 90px;
    font-weight: 400;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -80%);
    border-radius: 25px;
    padding: 10px;
    
    background: linear-gradient(to bottom,  rgb(2, 73, 52) 10%, rgba(0,0,0,0.5) 100%);
}


.img-para{
    font-weight: 100;
   font-size: 50px;
   text-align: center;

}


/* MENU */

.main__menu .container{
    height: auto;
}

.main__menu .menu-header{
    height: auto;
    background-color: var(--dark-gray1);
    display:flex;
    flex-direction: column; 
    align-items: center;
    font-size: 50px;    
}

.main__menu .menu-border{
    padding: 42px;
    padding-bottom: 9px;
    color: var(--text-colour);
   
}

.fa-utensils {
    margin-top: -15px;
    margin-left: 75px;  
}

/* Appetizer */
.menu-item{
    padding-bottom: 10px;
}

.menu-item h1{
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
    grid-column: 1 / 5;
    margin-top: 40px;
    margin-bottom: 10px;
}

.grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.dish-apet {
    display: flex;
    flex-direction: column;
    height: 500px;
    font-size: 20px;
    padding: 10px;
    margin: 25px;
    
    color: var(--dark-gray1);
    background-color: var(--text-colour);
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.308) ;
    transition: transform 0.2s ease-in;

}

.dish-apet:hover {
    transform: translateY(-15px);
    cursor:pointer;
}

.dish-apet .apet-text {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.dish-apet .apet-img{
    height: 200px;
 
}

.dish-apet img{
    height: 200px;
}
.dish-apet h3{
    margin-top: 0;
}

.dish-apet .price{
    align-self: flex-end;
    margin-top: auto;   
}

.dish-apet p {
    font-weight: 500;
    
}

.caeser-salad{
    grid-column: 2 / 3;
}
.taiyaki{
    grid-column: 2/3;
}

.menu-border{

    padding: 50px;
}


/* About Us */

.about .container{
    padding: 30px;  
    height:auto;
    background-color: var(--dark-gray1);
    border-top: 2px var(--prim-head) dashed;
}

.about-card {
     width: 400px; 
    align-content: center;
    grid-column: 3;
    grid-row: 2 / 3;
    color: var(--dark-gray1);
    background-color: var(--text-colour);
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.25) ;
    padding: 20px;
    
    margin: 20px;
    color: var(--text-colour);
    background-color: var(--light-gray1);
    
}

.about-card h2{
    color: var(--prim-head);
    font-size: 40px;
    font-weight: 600;
}

.about-text {
    margin: 50px 50px;
    width: 650px;
    grid-column: 2fr;
}

.about-text h1{
    color: #2a2e35;
    color: #fff;
    font-size: 43px;
    font-weight: 900;
}

.about-text p {
    font-size: 20px;
    margin-top: 20px;
}

.about-border{
    margin-top: 20px;
    height: auto;
    background-color: var(--dark-gray1);
    display:flex;
    flex-direction: column; 
    align-items: center;
    font-size: 50px;
    grid-column: 1 / 5; 
}

.about-control{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 5px;
    margin: 10px 0;
}

.btn{
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 20px;
    width: 100px;
    padding: 5px;
    color: var(--text-colour);
    background: transparent;
    border: 2px var(--prim-head) solid;
    border-radius: 0.25em;
    cursor: pointer;
}

.btn:hover {
    background-color: #018786;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in 0s;
    transform: scale(0.98);
    
}

.about-card input[type='text'],
.about-card input[type='number'],
.about-card input[type='date'],
.about-card textarea{
    border: 0;
    caret-color: #e63946;
    color: #fff;
    background:transparent;
    border-bottom: 1px var(--prim-head) solid;
    padding: 3px;
    font-size: 16px;
    color-scheme: dark;
    font-family: 'Montserrat', sans-serif;

}

.about-card textarea {
    resize: none;
    height: 150px;
    
}

.about-card input::selection, textarea::selection{
    background-color: var(--text-colour);
    color: var(--dark-gray1); 
}

.about-card input:focus, textarea:focus{
    outline: none;
}

/* Contact Us */

.contact .container {
    
    height:auto;
    background-color: var(--dark-gray1);
    border-top: 2px var(--prim-head) dashed;
    padding-bottom: 40px;
    border-bottom: 2px var(--prim-head) dashed;
    
}

.contact h1, img {
    grid-column: 1 / 5;
    margin: auto;
    font-size: 70px;
}

.contact h1 {
    margin-top: 50px;
}

.contact-head {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-left: 80px; 
}

.contact-head .phone {
    display: flex;
    gap: 50px;
}

.contact-head .email {
    display: flex;
    gap: 50px;
}

.contact-head .loc {
    display: flex;
    gap: 58px;
}

.contact .map{
   width: 100px;
   height: 100px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 1 / 3;  
    padding: 30px;
}


.contact .about-card {
    align-self: center;
    grid-column: 1 / 3;
}

.contact .about-card h2{
    font-size: 30px;
}

.contact-map {
    align-self: center;
    justify-self: center;
    width: 300px;
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: var(--dark-gray1);
}

.footer-container > *{
    width: fit-content;
}

.footer-container .copyright {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px var(--prim-head) dashed;
}

.footer-container .socials{
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.fa-linkedin {
    color: #0e76a8;
}


/* Media Queries  */

/* Tablets and under */

@media(max-width: 768px) {

    .navbar {
        position: absolute;
        z-index: 100;
        height: 110px;
    }

    .title {
        display: flex;
        flex-direction: column;
        
    }

    .img-text, .img-para{
        width: 400px;
        font-size: 30px;
        
        
    }

     ul li{
        width: 80px;
        padding-left: 10px;

       
    }
    
    .navbar ul li a:hover{
        width: 0%;
        
    }

    .navbar ul li a {
        border-bottom: 2px var(--text-colour) solid;
        
    }

    .navbar ul li a::after{
        content:none;
        height: auto;
        background: none;
        width: 0%;
        width: 0%;
        display: block;
        margin: auto;
    }

     .grid,
    .dish-apet{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        
    }
    
    .apet-img {
        width: 320px;
    }

    .toro .price,
    .ora .price,
    .vesper .price,
    .caeser-salad .price{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-left: 230px;
        margin-top: 140px;
        align-items: flex-end;
    }

    .dish-apet:hover{
        transform: none;
    }

    .navbar .container,
    .showcase-container,
    .menu-container,
    .about .container,
    .contact .container {
        width: 100%;
        
    }


    .about-text {
        order: 1;
        align-self: center;
        text-align: center;
        width: 530px;
    }

    .about-text h1 {
        font-size: 37px;
    }

    .about-card {
        order: 2;
        align-self: center;
    }

    .contact-map {
        display: flex;
        width: 500px;
    }
}

/* Mobile */

@media(max-width: 500px) {    
     html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
       overflow-x: hidden;
       
   }  
    .navbar {
        position: relative;
        z-index: 100;
        height: 110px;
        background: linear-gradient(0deg, #000000ce  20%, #1d2738  100%)
    }

    .title {
        display: flex;
        flex-direction: column;
        
    }

    .img-text, .img-para{
        position: relative;
        width: 400px;
        font-size: 30px;
        
        
    }

     ul li{
        width: 80px;
        padding-left: 10px;

       
    }
    
    .navbar ul li a:hover{
        width: 0%;
        
    }

    .navbar ul li a {
        border-bottom: 2px var(--text-colour) solid;
        
    }

    .navbar ul li a::after{
        content:none;
        height: auto;
        background: none;
        width: 0%;
        width: 0%;
        display: block;
        margin: auto;
    }

     .grid,
    .dish-apet{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
        
    }

    .dish-apet:hover{
        transform: none;
    }

    .apet-img {
        align-self: center;
        width: 320px;
        height: 0;
    }

    .apet-text{
        text-align: start;
        align-self: flex-start;
        
    }

    .toro .price,
    .ora .price,
    .vesper .price,
    .caeser-salad .price{
        display: flex;
        width: 100px;
        margin: 0;
        padding: 0;
        margin: 140px 223px;
        align-items: flex-end;
    }

    .about .container,
    .contact .container {
        width: 483px;
        
    }

    .about-border {
        margin-left: -65px;
    }

    .about-text {
        order: 1;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        width: 320px;
        font-size: 15px;
        margin-left: -28px;
        
    }

    .about-text h1 {
        font-size: 40px;
        width: 300;
        
    }

    .about-card {
        order: 2;
        align-self: center;
        justify-self: center;
        width: 300px;
        margin-left: -48px;        
    }

    .contact h1{
        margin-left: 10px
    }

    .map {
        margin-left: 170px;
    }

    .contact-head {
        display: flex;
        margin: 0;
        padding: 0;
        width: 400px;
        font-size: 14px;
        margin-left:-20px;
        
    }

    .contact-text {
        margin-left: -40px;
    }

    .contact .about-card {
        margin-left: -19px;
    }

    .contact-map {
        margin: 0;
        padding: 0;
        margin-left: -60px;
        width: 350px;
    }

    .copyright {
        width: 450px;
    }
}